*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: Roboto;
}
.header {
    position: absolute;
    top:0%;
    width: 100%;
    height: 80px;
   

}
.header img {
    position: absolute;
    width: 210px;
    height: 210px;
    top: -62px;
    left: 150px
}
.header input {
    position: absolute;
    background-color: rgb(231, 228, 228);
    height: 35px;
    border-radius: 10px;
    border: none;
    left: 500px;
    top: 20px;
    width: 350px;
}
.fa-user {
    position: absolute;
    top: 28px;
    left: 1000px;
    height: 100px;
    width: 100px;
    color: silver;
    font-size: 22px;
    cursor: pointer;
}
.header p {
    position: absolute;
    left: 1030px;
    color: rgba(42, 39, 39, 0.922);
    top: 29px;
    font-size: 19px;
    font-family: roboto;
}
.fi-rr-shopping-bag{
    position: absolute;
    left: 1130px;
    color: silver;
    top: 27px;
    font-size: 24px;
    cursor: pointer;

}
.dropdown{
    
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
    background-color: #f1f1f1;
    width: 100px;
    height: 80px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
    top:53px;
    left: 997px;
    visibility:hidden;

}
.div1-1{
    
    font-size: 11px;
    padding: 3px 3px 5px 3px;
    font-family: roboto;
    align-items: center;
}
.div1-1:hover{
    background-color: antiquewhite;
    cursor: pointer;
    border-radius: 6px;
}
.changepass{
    position: absolute;
    align-items: center;
    padding: 7px 0 0 5px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    box-shadow: 2px black;
    width: 180px;
    height:260px;
    background-color: rgb(237, 236, 236);
    border-radius: 10px;
    
    left: 600px;
    top:150px;
    z-index: 20;
    visibility: hidden;
}
.changepass input{
    border-radius: 5px;
    border: none;
    height: 25px;

}
.btnchangepass{
    align-items: center;
}

    

.changepass button{
    border-radius: 5px;
}
.changepass button:hover{
    background-color: orange;
    
}
h1{
    position: absolute;
    top: 130px;
    left:100px;
    color:rgb(29, 140, 238)
}
.info{
    top:236px;
    left: 100px;
    width: 710px;
    height: 236px;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap:24px;
}
.title{
  width: 708px;
  height: 60px;
}
.title h3{
    width: 708px ;
    border-bottom: 1px solid silver;

}
.detail{
    width: 708px;
    height: 292px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.detail input{
    padding: 0 0 0 10px;
}
.div1{
    width: 708px;
    height: 84px;
    display: flex;
    flex-direction: row;
    gap: 31px;
}
.fullnameorder{
    width: 287px;
    height: 80px;
    display: flex;
    flex-direction:column;
    gap: 8px; 
}
.fullnameorder input{
    width: 287px;
    height: 52px;
   
}
.fullnameorder p{
    font-size: 16px;
    width: 76px;
    height: 20px;
}
.number{
    width: 392px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap:8px
}
.number input{
    width: 392px;
    height: 52px;
    
}
.street{
    width: 287px;
    height: 80px;
    display: flex;
    flex-direction:column;
    gap: 8px; 
}
.street input{
    width: 287px;
    height: 52px;
}
.state{
    width: 392px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap:8px   
}
.state input{
    width: 392px;
    height: 52px;
}
.city{
    width: 287px;
    height: 80px;
    display: flex;
    flex-direction:column;
    gap: 8px; 
}
.city input{
    width: 287px;
    height: 52px;
}
.zipcode{
    width: 392px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap:8px 
}
.zipcode input{
    width: 392px;
    height: 52px;
}
.info input{
    background-color: rgb(218, 216, 216);
    border-radius: 5px;
    border: none;
}
.payment{
    position: absolute;
    left: 100px;
    width: 708px;
    height: 220px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top:600px;
}
.paytitle{
    width: 708px;
    height: 60px;
}
.paytitle h3{
    width: 708px ;
    border-bottom: 1px solid silver;
}
.payoption{
    
    width: 708px;
    height: 90px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-around;
    position: absolute;
    top:30px;
}
.payoption img{
    width: 120px;
    height: 120px;
    
}
.sumary{
    position:absolute;
    display: flex;
    flex-direction: column;
    gap: 24px;
        width: 412px;
        height: 545px;
        left: 868px;
        top:236px;
}
.order-sum{
    width: 412px;
    height: 60px;
}
.order-sum h3{
    border-bottom: 1px solid silver;
}
.product-list{
    width: 412px;
    height: 224px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap:24px;
    max-height: 224px;
    overflow-y: auto;
}
.product-detail{
    width: 393px;
    height: 87px;
    display: flex;
    flex-direction: row;
    gap:16px;
    
    

}
.product-detail img{
    width: 75px;
    height: 80px;
    left: 4px;
}
.order-detail{
    width: 411px;
    height: 281px;
    display: flex;
    flex-direction: column;
    gap:19px
}

.detail-title{
    width:411px ;
    height: 60px;
}
.detail-title h3{
    border-bottom: 1px solid silver;

}
.price-list{
    width: 388px;
    height: 116px;
    display: flex;
    flex-direction:column;
    gap:12px

}
.price-list div{
    width: 388px;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap:202px;
    justify-content: space-between;
}

.purchase{
    position: absolute;
    
    width: 156px;
    height: 44px;
    background-color: #1B4B66;
    color: white;
    border-radius: 5px;
    left: 860px;
    top:750px;
    border:none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}   
.purchase:hover{
    box-shadow: 2px silver;
}
.error{
    border-bottom: 1px solid red;
}
.active{
    display: block;
}
.opacity{
    position: absolute;
    width: 1500px;
    height: 900px;
    opacity: 0.9;
    display: none;
    background-color: rgb(244, 244, 244);
    
    z-index: 10;
}